<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop"
	    xmlns:jee="http://www.springframework.org/schema/jee"
	     xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd"
        >

	<!-- jdbc暂时不用 -->


	<!-- 使用annotation 自动注册bean, 并保证@Required、@Autowired的属性被注入 -->
	<!--<context:component-scan base-package="com.datafin">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation"
			expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan>-->

	<!--  读取文件 -->
    <bean id="propertyConfigurerUtil" class="com.yonyou.datafin.framework.SpringPropertiesUtil" lazy-init="false">
		<property name="locations">
		    <list>
		        <!--<value>classpath:config.properties</value>-->
                <value>#{systemProperties['conf_dir'] == null ? 'classpath:' : systemProperties[conf_dir]}/config.properties</value>
		    </list>
		</property>
	</bean>

    <bean id="myhandler" class="com.yonyou.datafin.logging.CommonServerUncaughtExceptionHandler">

    </bean>

    <!-- 拦截全局的运行时异常 -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="java.lang.Thread"/>
        <property name="targetMethod" value="setDefaultUncaughtExceptionHandler"/>
        <property name="arguments">
            <list>
                <ref bean="myhandler" />
            </list>
        </property>
    </bean>



</beans>